<footer style="background-color: #bb1c16;">
    <div class="container">
        <!-- <div class="row py-3 row-cols-1 row-cols-md-3 g-2 d-flex align-items-center text-light">
            <div class="col fs-5 ff-serif">
                {{site.title}}
            </div>
            <div class="col text-center">© Copyright {{'now' | date: '%Y'}} {{site.title}} | All rights reserved
            </div>
            <div class="col text-end">
                {% for item in site.footer_links %}
                <a href="{{item.link | relative_url}}" class="text-link">{{item.title}}</a>
                {% endfor %}
            </div>
        </div> -->
        <div class="row py-3 text-light">
            <div class="col text-center">© Copyright {{'now' | date: '%Y'}} {{site.title}} | All rights reserved.</div>
        </div>
    </div>
</footer>